.mat-headline {
    text-align: center;
    padding: 20px;   
}

.description {
    background-color: #f3f3f3;
    border: solid 5px #f3f3f3;
    border-radius: 5px;
    height: 100px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.description::-webkit-scrollbar {
    display: none;
}