.mat-headline{
    font-family:'corsiva';
    font-weight: 800;
    font-size: 36px;
    line-height: 53px;
    /* identical to box height */
    color: #1c0766;
    background: #7c81ad;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}

.description {
    background-color: #f3f3f3;
    border: solid 5px #f3f3f3;
    border-radius: 5px;
    height: 100px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.description::-webkit-scrollbar {
    display: none;
}

.mat-headline {
    text-align: center;
    margin: 25px;  
}

.product{
    min-width: 180px;
    height: 150px;
    text-align: center;
    font-size: 30px;
    line-height: 25px;
    margin: auto;
    margin-top: 50%;
}

.add-move {
    background-color: rgb(223, 223, 223);
    border: 2px solid rgb(223, 223, 223);
    border-radius: 5px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 120px;
    height: 0px;    
}
mat-card {
    height: 500px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.mat-card-avatar{
    display: none;
}
.mat-card-title {
    height: 40px;
}

.mat-tab-body-wrapper {
    height: 560px;
    padding-top: 30px;
}


