
<div class="footer">

    <div class="links">
<div class="brand"><img src="..\assets\copyright.png"> <span> Harder, Better, Faster, Stronger </span></div>

<ul class="liste">
    <li>Lorem ipsum dolor sit amet</li>
    <li>   consectetur adipiscing elit </li>
    <li>   sed do eiusmod tempor</li>
    <li>    incididunt ut labore</li>
</ul>
<ul>
    <li>Lorem ipsum dolor sit amet</li>
    <li>   consectetur adipiscing elit </li>
    <li>   sed do eiusmod tempor</li>
    <li>    incididunt ut labore</li>
</ul>

<ul>
    <li>Lorem ipsum dolor sit amet</li>
    <li>   consectetur adipiscing elit </li>
    <li>   sed do eiusmod tempor</li>
    <li>    incididunt ut labore</li>
</ul>

    </div>
</div>
